---
import { PROJECTS } from "@/values/Projects.astro";
import { slugify } from "@/utils/slugify.js";

import LinkButton from "./LinkButton.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import WorldIcon from "./icons/WorldIcon.astro";
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, shortDescription, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              class="object-cover w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image[0]}
              alt={title}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <a
            href={`/projects-view/${slugify(title)}`}
            class="hover:underline text-2xl font-bold text-blue-600"
          >
            {title}
          </a>
          <div class="mt-2">
            <ul class="flex gap-x-1 flex-wrap mb-4">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 items-center p-2 rounded-md dark:border-white/10 mt-1 font-semibold text-gray-700 dark:text-white/80 bg-gray-200 dark:bg-gray-800`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {shortDescription}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-2">
              {github && (
                <LinkButton href={github}>
                  <GithubIcon class="size-6" /> Codigo Fuente
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <WorldIcon class="size-6" />
                  Ver Proyecto
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
